<nav class="navbar bg-primary mb-2" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Bookmarket</a>
    <a class="d-flex" routerLink="/zaloguj" *ngIf="!authService.isAuthenticated">Zaloguj</a>
    <a class="d-flex" routerLink="/moje-konto" *ngIf="authService.isAuthenticated">Moje konto</a>
  </div>
</nav>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <ng-container *ngFor="let toast of toastService.toasts">
    <ngb-toast
      [header]="toast.header" [autohide]="true" [delay]="toast.delay || 5000"
      (hidden)="toastService.remove(toast)"
    >
      <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(toast.body)"></span>
    </ngb-toast>
  </ng-container>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

