<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj książkę</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body" [formGroup]="form">
    <div class="mb-3">
      <label for="title" class="form-label">Tytuł</label>
      <input type="text" class="form-control form-control-sm" id="title" formControlName="title">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Autor</label>
      <input type="text" class="form-control form-control-sm" id="author" formControlName="author">
    </div>
    <div class="mb-3">
      <label for="release_date" class="form-label">Data wydania</label>
      <input type="text" class="form-control form-control-sm" id="release_date" formControlName="release_date">
      <div class="form-text">Podaj datę w formacie YYYY-MM-DD (rok - miesiąc - dzień)</div>
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">Gatunek</label>
      <input type="text" class="form-control form-control-sm" id="genre" formControlName="genre">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Opis</label>
      <textarea class="form-control form-control-sm" rows="5" id="description" formControlName="description"> </textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" (click)="addBook()">Dodaj</button>
  </div>
</ng-template>

<div class="d-flex align-items-center justify-content-between border-bottom pb-2 mt-3">
  <h3>Witaj {{authService.username}}</h3>
  <div>
    <button class="btn btn-sm btn-outline-success me-2" (click)="openModal(modalContent)">Dodaj książke</button>
    <button class="btn btn-sm btn-outline-danger" (click)="logout()">Wyloguj</button>
  </div>
</div>
<app-error *ngIf="error" [error]="error"></app-error>
<app-loading *ngIf="isLoading"></app-loading>
<ng-container *ngIf="data">
  <div class="row g-2 mt-2">
    <div class="col-sm-12">
      <h4>Książki wypożyczane</h4>
    </div>
    <div class="col-sm-12 col-lg-4" *ngFor="let book of data.held_books">
      <app-book [book]="book">
        <a class="card-link" [routerLink]="['/ksiazka', book.id]">Szczegóły</a>
        <a role="button" class="card-link" (click)="returnBook(book)">Oddaj</a>
      </app-book>
    </div>
    <div class="col-sm-12" *ngIf="!data.held_books.length">
      <span class="text-secondary">Brak książek</span>
    </div>
  </div>
  <div class="row g-2 mt-2">
    <div class="col-sm-12">
      <h4>Książki udostępniane</h4>
    </div>
    <div class="col-sm-12 col-lg-4" *ngFor="let book of data.owned_books">
      <app-book [book]="book">
        <a role="button" class="card-link" [routerLink]="['/ksiazka', book.id]">Szczegóły</a>
        <a role="button" class="card-link" [routerLink]="['/ksiazka', book.id, 'edytuj']">Edytuj</a>
      </app-book>
    </div>
    <div class="col-sm-12" *ngIf="!data.owned_books.length">
      <span class="text-secondary">Brak książek</span>
    </div>
  </div>
</ng-container>
