<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Usuń książkę</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    Czy na pewno chcesz usunąć książkę <i>{{data!.title}}</i> ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteBook()">Usuń</button>
  </div>
</ng-template>

<app-error *ngIf="error" [error]="error"></app-error>
<app-loading *ngIf="isLoading"></app-loading>
<ng-container *ngIf="data">
  <div class="my-3 d-flex justify-content-between">
    <div *ngIf="authService.isAuthenticated">
      <ng-container *ngIf="!isEdit">
        <button class="btn btn-sm btn-primary" *ngIf="!data.holder_id && data.owner_id !== authService.userId" (click)="borrowBook('borrow')">Wypożycz</button>
        <button class="btn btn-sm btn-primary" *ngIf="data.holder_id === authService.userId" (click)="borrowBook('return')">Oddaj</button>
        <button class="btn btn-sm btn-secondary ms-2" *ngIf="data.owner_id === authService.userId" (click)="isEdit = true">Edytuj</button>
      </ng-container>
      <ng-container *ngIf="isEdit">
        <button class="btn btn-sm btn-success" (click)="updateBook()">Zapisz</button>
        <button class="btn btn-sm btn-secondary ms-2" (click)="isEdit = false">Anuluj</button>
      </ng-container>
      <button class="btn btn-sm btn-danger ms-2"  *ngIf="!data.holder_id && data.owner_id === authService.userId" (click)="openModal(modalContent)">Usuń</button>
    </div>
    <a class="btn btn-sm btn-primary" [routerLink]="['/']">Powrót do listy</a>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-9">
      <table class="table" [formGroup]="form">
        <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>
            {{ data.id }}
          </td>
        </tr>
        <tr>
          <th scope="row">Tytuł</th>
          <td>
            <span *ngIf="!isEdit">{{ data.title }}</span>
            <div *ngIf="isEdit">
              <input type="text" class="form-control form-control-sm" formControlName="title">
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>
            <span class="badge text-bg-primary me-1" *ngIf="data!.owner_id === authService.userId">Moja książka</span>
            <span class="badge text-bg-success" *ngIf="!data!.holder_id">Dostępna</span>
            <span class="badge text-bg-primary" *ngIf="data!.holder_id === authService.userId">Wypożyczona przeze mnie</span>
            <span class="badge text-bg-danger" *ngIf="data!.holder_id && data!.holder_id !== authService.userId">Wypożyczona</span>
          </td>
        </tr>
        <tr>
          <th scope="row">Autor</th>
          <td>
            <span *ngIf="!isEdit">{{ data.author }}</span>
            <div *ngIf="isEdit">
              <input type="text" class="form-control form-control-sm" formControlName="author">
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Rok wydania</th>
          <td>
            <span *ngIf="!isEdit">{{ data.release_date | date }}</span>
            <div *ngIf="isEdit">
              <input type="text" class="form-control form-control-sm" formControlName="release_date">
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Gatunek</th>
          <td>
            <span *ngIf="!isEdit">{{ data.genre }}</span>
            <div *ngIf="isEdit">
              <input type="text" class="form-control form-control-sm" formControlName="genre">
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Opis</th>
          <td>
            <span *ngIf="!isEdit">{{ data.description }}</span>
            <div *ngIf="isEdit">
              <textarea class="form-control form-control-sm" rows="5" formControlName="description"> </textarea>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-lg-3">
      <qrcode [qrdata]="getQrCodeData()" [width]="256"></qrcode>
    </div>
  </div>
</ng-container>
